<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jesus.pizint">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logoapp"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.PizInt"
        tools:targetApi="31">
        <activity
            android:name="Frontend_Pantallas.Public_NoticeOff"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BarraNavegacionDesplegable"
            android:exported="false"
            android:label="@string/title_activity_barra_navegacion_desplegable"
            android:theme="@style/Theme.PizInt.NoActionBar" />
        <activity
            android:name="Frontend_Pantallas.Exclusive_Login"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="Frontend_Pantallas.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>